.boxTeam{
    border: 1px solid white;
    border-radius: 1.5rem;
    background-color: orangered;
    margin-top: 1rem;
    /* padding: 1rem;     */
    /* background-clip: content-box; */
}
.boxText{
    padding: 1rem;
    color: white;
}
.boxImage{
    padding: 1rem;
    float:right;
}
.boxImage img{
    width:25rem;
    object-fit: contain;
}
.description{
    margin-top: 2rem;
    text-align: justify;
}
.brand-icon{
    padding: 1rem;
}