.header{   
    text-align: center;   
    padding-top: 2.5rem;
    
    color: wheat;
    background: url('../../images/Background/stadium.jpg') no-repeat;
    background-size: 100% 100%;
    height: 18rem;
}
.header img{
height: 12rem;
}